<section>
  <div class="container">
    <h1 class="text-center p-4 text-uppercase font-weight-bold text-white">imdb</h1>
    <div class="row mt-2">
      <div class="col-12">
        <app-form  (getData)="OndataRecive($event)"></app-form>
      </div>
      <div class="mt-5 col-md-4">
        <app-movies [dataSend]="MoviesArray" ></app-movies>
      </div>
      <div class="mt-5 col-md-4">
        <app-series [dataSend]="WebseriesArray"></app-series>
      </div>
      <div class="mt-5 col-md-4">
        <app-cartoon [dataSend]="CartoonArray"></app-cartoon>
      </div>
    </div>
  </div>
</section>
<section style="height: 50vh;" ></section>